<?xml version="1.0" encoding="UTF-8"?>
<!--
	This file configures the information used when sending email reports.
	A couple of important notes:
	-To add to the ToList, add To elements
	-To add to the CcList, add Cc elements
-->
<Reports
    senderEmail=""
    password=""
    mailServer=""
    port=""
>
  <ErrorReport
    subject="Error Report (?)"
  >
    <ToList>
    </ToList>
    <CcList>
    </CcList>
  </ErrorReport>
  <MarketPriceReport
    subject="Market Price Report (?)"
  >
    <ToList>
    </ToList>
    <CcList>
    </CcList>
  </MarketPriceReport>
</Reports>